:root {
    --border-color: #098ab1;
    --header-color: white;
    --header-font-family: "UI-Light", Arial, Helvetica, sans-serif;
    --header-text-shadow: 0 0 10px black;
    --header-background-color: #0d738d;
    --info-font-family: "UI-Bold", Arial, Helvetica, sans-serif;
    --team-color: white;
    --team-text-shadow: 0 0 10px black;
    --team-background-color: #0c5a71;
    --kill-color: white;
    --kill-text-shadow: 0 0 10px black;
    --kill-background-color: #043a4b;
    --font: Norwester;
  }
  
  #innerWrapper {
    display: flex;
    position: absolute;
    height: 0;
    left: 62px;
    bottom: 180px;
    flex-direction: column;
    border-left: 26px solid var(--border-color);
    overflow: hidden;
  }
  
  #headerWrapper {
    width: 0;
    overflow: hidden;
  }
  
 #header {
  margin: 0;                /* Remove default <p> margin */
  padding: 22px 29px;       /* Reduce padding to minimize space */
  color: var(--header-color);
  font-family: var(--font);
  font-size: 54px;
  line-height: 1;           /* Tighter vertical spacing */
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  text-shadow: var(--header-text-shadow);
  background-color: var(--header-background-color);
  text-align: center;       /* Center the text horizontally */
}

  
  #textWrapper {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  #textInnerWrapper {
    display: flex;
    font-family: var(--info-font-family);
  }
  
  #logoTextWrapper {
    height: 54px;
    display: flex;
    padding: 2px 29px;
    align-items: center;
    gap: 10px;
    background-color: var(--team-background-color);
  }
  
  #teamLogo {
    height: 50px;
  }
  
  #teamName {
    height: 35px;
    color: var(--team-color);
    text-shadow: var(--team-text-shadow);
    line-height: 35px;
    font-size: 33px;
    white-space: nowrap;
  
    /* Center the text */
    flex: 1;
    text-align: center;
  }
  
  
  #killsWrapper {
    display: flex;
    height: 0px;
    overflow: hidden;
    align-items: center;
    background-color: var(--kill-background-color);
  }

  #teamKills {
    height: 35px;
    padding: 2px 29px;
    color: var(--kill-color);
    text-shadow: var(--kill-text-shadow);
    line-height: 35px;
    font-size: 33px;
    white-space: nowrap;
  }
  
  